h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

img {
  height: 14rem;
  margin: 0.01rem
}

body {
  font-family: "archivo narrow";
  color: #f9f9f2;
  background-color: #66c1b2;
  margin: 0;
}

section {
  height: 100vh;
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  padding-bottom: 0.2em;
}

.rotate {
  transform: rotate(90deg);
}

#images {
  justify-content: left;
  align-items: center;
}

#declaration-of-plant-love {
  display: flex;
  padding-bottom: 3em;
  align-items: center;
  justify-content: center;
}

#menu {
  align-items: left;
  justify-content: center;
  padding-left: 2em;
  padding-top: 1.5em;
}