h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  font-family: "archivo narrow";
  color: #f9f9f2;
  background-color: #1a1b5b;
  justify-content: center;
}

/*header*/
#header {
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

#dancingplants {
  width: 20vw;
  height: auto;
}

#declarationofplantlove {
  height: auto;
  width: 50vw;
}

/*image section*/
.wrapper {
  width: 100%;
  align-items: top;
  margin: 5vw;
  justify-content: center;
}

.rotate {
  transform: rotate(90deg);
  display: flex;
  width: 40vw;
  float: left;
  justify-content: center;
  margin-right: 5vw;
  margin-bottom: 20vw;
}

.norotate {
  width: 90vw;
}

@media screen and (min-width: 600px) {
  #header {
    display: flex;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }

  #dancingplants {
    width: 20vw;
    height: auto;
  }

  #declarationofplantlove {
    height: auto;
    width: 50vw;
  }

  /*image section*/
  .wrapper {
    width: 100%;
    align-items: top;
    margin: 5vw;
    justify-content: center;
    display: flex;
  }

  .rotate {
    transform: rotate(90deg);
    width: 30vw;
    float: left;
    justify-content: center;
    height: auto;
  }

  .norotate {
    width: 40vw;
    height: auto;
  }
}
