h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

img {
  height: 14rem;
  margin: 0.01rem
}

body {
  font-family: "archivo narrow";
  color: #f9f9f2;
  background-color: #1a1b5b;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
}

#declarationofplantlove {
  height: 25vh;
  width: auto;
}

#dancingplants {
  height: 15vh;
  width: auto;
}

.rotate {
  transform: rotate(90deg);
}

.button {
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  background-color: #a4ddbb;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #b7f4cf;
}

#button_text {
  font-family: "archivo narrow";
}

#go-back-button {}

@media only screen and (max-width: 768px) {
  #header {
    height: 15vh;
  }

  #declarationofplantlove {
    width: 50vw;
    height: auto;
  }

  #dancingplants {
    width: 20vw;
    height: auto;
  }

  .norotate {
    display: block;
    width: 90vw;
    margin: auto;
    height: auto;
    justify-content: center;
  }

  .rotate {
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
    width: 40vw;
    height: auto;
  }

  #rotated-images {}
}
