body {
  display: grid;
  font-family: "Lucida Console";
  font-size: 15px;
}

#messagearea {
  overflow-y: scroll;
  height: 90vh;
}

#inputdiv {
  display: block;
  position: fixed;
  bottom: 2vh;
  background-color: white;
  float: left;
  width: 100vw;
}

@keyframes blinking {
  0%{
      color: white;
    }

    100%{
      color: red;
    }
}
#inpatient_text {
  animation: blinking 0.8s infinite;
  font-weight: bold;
  font-family: "Comic Sans MS";
}

/*@media only screen and (max-width: 700px) {
  body {
    justify-content: center;
  }
  #inputdiv {
    display: flex;
    justify-content: center;
    margin:auto;
    height: 8vh;
    align-items: center;
  }
  #message {
    margin: auto;
    width: 70vw;
    height: 8vh;
  }
