body {
  background-color: black;
}

.button {
  text-align: top;
  cursor: pointer;
  border-width: thick;
  height: 7vh;
}

.button:hover {
  background-color: #ffff;
}

#button_text {
  font-family: "Lucida Console";
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#go-back-button {
  padding-left: 3em;
  padding-top: 2em;
}

#psykstatus {
  display: flex;
  justify-content: center;
  align-items: center;
}
