h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  font-family: "archivo narrow";
  color: #f9f9f2;
  background-color: #8fbfa1;
  margin: 0;
}

section {
  height: 100vh;
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  padding-bottom: 0.2em;
}

#second-page {
  display: flex;
  justify-content: left;
  align-items: top;
}

.button {
  padding: 5px 25px;
  border-radius: 12px;
  background-color: #a4ddbb;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #b7f4cf;
}

#button_text {
  font-family: "archivo narrow";
  font-size: 20px;
}

#plantbutton {
  padding-top: 2em;
  padding-left: 3em;
}

#stuffbutton {
  padding-top: 2em;
  padding-left: 3em;
}

#depressionbutton {
  padding-top: 2em;
  padding-left: 3em;
}

#sparklygif {
  height: 300px;
}