h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  font-family: "archivo narrow";
  color: #f9f9f2;
  background-color: #1a1b5b;
  margin: 0;
}

section {}

#welcome {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: 15vh;
  padding-top: 1em;
}

#title {
  padding-bottom: 0.2em;
  white-space: nowrap;
  font-size: 8vw;
}

#buttonsection {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.button {
  padding: 5px 25px;
  border-radius: 12px;
  background-color: #f28fb2;
  color: white;
  cursor: pointer;
  border-color: #ffd1e1;
  width: 100%;
}

.button:hover {
  background-color: #bd5378;
  border-color: #eba9c0;
}

#button_text {
  font-family: "archivo narrow";
  font-size: 20px;
}

#plantbutton {
  padding-top: 1em;
  padding-bottom: 1em;
}

#stuffbutton {
  padding-top: 1em;
  padding-bottom: 1em;
}

#depressionbutton {
  padding-top: 1em;
  padding-bottom: 1em;
}

.sparklygif {
  width: auto;
}
