h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  font-family: "archivo narrow";
  color: #f9f9f2;
  background-color: #1a1b5b;
  margin: 0;
}

section {
  height: 100vh;
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  padding-bottom: 0.2em;
  white-space: nowrap;
  font-size: 8vw;
}

#second-page {
  display: flex; 
  justify-content: center;
  align-items: top;
}

.button {
  padding: 5px 25px;
  border-radius: 12px;
  background-color: #d17bbf;
  color: white;
  cursor: pointer;
  border-color: #fcccf2;
}

.button:hover {
  background-color: #9d5ea3;
  border-color: #ce8ac0;
}

#button_text {
  font-family: "archivo narrow";
  font-size: 20px;
}

#plantbutton {
  padding-top: 2em;
  padding-left: 3em;
}

#stuffbutton {
  padding-top: 2em;
  padding-left: 3em;
}

#depressionbutton {
  padding-top: 2em;
  padding-left: 3em;
}

#benbutton {
  padding-top: 2em;
  padding-left: 3em;
}

.sparklygif {
  width: 24vw;
}
