h1 {
  font-size: 6vw;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  font-family: 'Lucida Console';
  color: #f9f9f2;
  background-color: #1a1b5b;
  justify-content: center;
}

section {}

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

#title {
  white-space: nowrap;
}

#buttonsection {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.button {
  width: 100%;
  border-width: thick;
  /*background-color: #f0f0f0;*/
}

.button:hover {
  cursor: pointer; 
}

#button_text {
  font-family: "Lucida Console";
  font-size: 16px;
}

#plantbuttondiv {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#stuffbuttondiv {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#depressionbuttondiv {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#depressionbutton {
  background-color: #99cdff;
  border-top-color: #7eb8e6;
  border-left-color: #7eb8e6;
  border-bottom-color: #70a3cc;
  border-right-color: #70a3cc;
}
#stuffbutton {
  background-color: #8c87ff;
  border-top-color: #737ae6;
  border-left-color: #737ae6;
  border-bottom-color: #666ccc;
  border-right-color: #666ccc;
}
#plantbutton {
  background-color: #fff98c;
  border-top-color: #dae17e;
  border-left-color: #dae17e;
  border-bottom-color: #c2c870;
  border-right-color: #c2c870;
}

.sparklygif {
  width: auto;
  height: 25vw;
}

#coolbottomsection {
  display: flex;
  justify-content: center;
  height: 34vh;
  align-items: center;
}

#spinningearth {
  height: 25vh;
}

@media only screen and (min-width: 600px) {
  body{
    margin: 0;
  }
  #welcome {
    background-color: #1a1b5b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  #title {
  }

  #buttonsection {
    display: flex;
    margin: 0;
    height: 10vh;
  }

  .button {
    border-width: thick;
    height: 7vh;
  }
  .button:hover {
    background-color: white;
  }

  #coolbottomsection {
    display: none;
  }
}
