h1 {
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

body {
  font-family: "archivo narrow";
  color: #f9f9f2;
  background-color: #8fbfa1;
  margin: 0;
}

.button {
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  background-color: #a4ddbb;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #b7f4cf;
}

#button_text {
  font-family: "archivo narrow";
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#go-back-button {
  padding-left: 3em;
  padding-top: 2em;
}

#welcomegif {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 300px;
  width: auto;
}